.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: $backdrop;
  opacity: 1;

  transition: opacity 500ms $main-timing-function;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}
