.section-customers {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.block-container {
  padding-left: 15px;
  padding-right: 15px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 738px;
  }

  @media screen and (min-width: 1200px) {
    width: 1170px;
    flex-wrap: nowrap;
  }
}

.item-customer {
  width: calc((100% - 60px) / 2);

  &:nth-child(2n + 1) {
    margin-right: 30px;
  }

  margin-bottom: 30px;

  &:nth-child(n + 5) {
    margin-bottom: 0px;
  }

  @media screen and (min-width: 480px) {
    width: 210px;
  }

  @media screen and (min-width: 768px) {
    width: 226px;

    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(3n + 3) {
      margin-right: 0px;
    }

    &:nth-child(n + 4) {
      margin-bottom: 0px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
    &:nth-child(n) {
      margin-right: 30px;
    }

    &:last-child {
      margin-right: 0px;
    }

    &:nth-child(n) {
      margin-bottom: 0px;
    }
  }
}

.customer-link {
  fill: $customer-logo;
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: center;

  border: 1px solid $customer-logo;
  border-radius: 4px;
  color: $customer-logo;

  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: $main-timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}

.icon-customer {
  display: block;
  fill: currentColor;
}

.logo-1 {
  width: 45px;
  height: 50px;
}

.logo-2 {
  width: 40px;
  height: 52px;
}

.logo-3 {
  width: 41px;
  height: 43px;
}

.logo-4 {
  width: 80px;
  height: 42px;
}

.logo-5 {
  width: 59px;
  height: 47px;
}

.logo-6 {
  width: 88px;
  height: 45px;
}
