@font-face {
  font-family: Raleway;
  src: url("../fonts/raleway-700.woff"), url("../fonts/raleway-700.woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/roboto-400.woff"), url("../fonts/roboto-400.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/roboto-500.woff"), url("../fonts/roboto-500.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/roboto-700.woff"), url("../fonts/roboto-700.woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/roboto-900.woff"), url("../fonts/roboto-900.woff2");
  font-weight: 900;
  font-style: normal;
}
